*{
    box-sizing: border-box;
}

.top-nav{
    justify-content: space-between;
    align-items: right;
    padding: 0 20px;
    background-color: #f4f4f4;
    border-bottom: solid 1px #000;
}

.top-nav h2{
    font-size: 30px;
    color: #000;
    background-color: grey;
    margin: 0;
}
.nav-buttons{
    /* display: flex; */
    justify-content: end;
}

.meme-container{
    display: flex;
    background-color: grey;
    border-spacing: 0caps;
}

img{
    width: 250px;
    height: auto;
    margin: 0%;
    border-radius: 200px;
    cursor: pointer;
}
.image-container label{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    background-size: contain;
    padding: 10px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.editor-screen button{
    padding: 10px;
    border-radius: 30px;
}
.editor-screen input{

    border-radius: 10px;
    border: solid 1px #000;
}
.footer{
    text-align: center;
}
canvas{
    padding-left: 40%;
    border-radius: 10px;
}
.download-btn{
    margin-left: 39%;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}
.text-input{
   margin-left: 40%;
    border-radius: 30px;
}

.add-text-btn{
    margin-left: 40%;
    border-radius: 30px;
    cursor: pointer;
}